boto3==1.36.2
celery==5.4.0
chromadb==0.5.23
kombu==5.4.0
scrapy==2.13.1
crawl4ai==0.4.247
langchain-openai==0.3.1
langchain-chroma==0.2.0
pymongo==4.10.1
python-dotenv==1.0.1
pycurl==7.45.4
langchain-text-splitters==0.3.8
cffi==1.16.0